In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.83 Safari/537.36",
    "Accept-Language": "en-US,en;q=0.9",
}
response = requests.get(url, headers=headers)
soup = BeautifulSoup(response.text, 'html.parser')

In [5]:
first_table = soup.find('table')
headings = first_table.find_all('th')
headingList = [th.get_text(strip=True) for th in headings]

columnData = first_table.find_all('tr')

df = pd.DataFrame(columns=headingList)

for row in columnData:
    rowData = row.find_all('td')
    individual_rowData = [data.text.strip() for data in rowData]
    
    length = len(df)
    df.loc[length] = individual_rowData
    
print(df)

ValueError: cannot set a row with mismatched columns

In [7]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Define the URL and headers
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.83 Safari/537.36",
    "Accept-Language": "en-US,en;q=0.9",
}

# Request the page
response = requests.get(url, headers=headers)
soup = BeautifulSoup(response.text, 'html.parser')

# Find the first table and extract headings
first_table = soup.find('table')
headings = first_table.find_all('th')
headingList = [th.get_text(strip=True) for th in headings]

# Initialize DataFrame with column headers
df = pd.DataFrame(columns=headingList)

# Extract data rows
rows = first_table.find_all('tr')
for row in rows:
    rowData = row.find_all('td')
    # Check if row data matches the number of columns
    if len(rowData) == len(headingList):
        individual_rowData = [data.get_text(strip=True) for data in rowData]
        df.loc[len(df)] = individual_rowData

df

,Rank,Name,Industry,Revenue(USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"648,125",6.0%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail andcloud computing,"574,785",11.9%,"1,525,000","Seattle, Washington"
2,3,Apple,Electronics industry,"383,482",-2.8%,"161,000","Cupertino, California"
3,4,UnitedHealth Group,Healthcare,"371,622",14.6%,"440,000","Minnetonka, Minnesota"
4,5,Berkshire Hathaway,Conglomerate,"364,482",20.7%,"396,500","Omaha, Nebraska"
...,...,...,...,...,...,...,...
95,96,TIAA,Financials,"45,735",11.8%,"16,023","New York City, New York"
96,97,CHS,Agriculture cooperative,"45,590",-4.6%,"10,609","Inver Grove Heights, Minnesota"
97,98,Bristol-Myers Squibb,Pharmaceutical industry,"45,006",-2.5%,"34,100","New York City,New York"
98,99,Dow Chemical Company,Chemical industry,"44,622",-21.6%,"35,900","Midland, Michigan"
99,100,Best Buy,Retail,"43,452",-6.1%,"85,000","Richfield, Minnesota"